default:
    extensions:
        Ciandt\Behat\PlaceholdersExtension:
            variant_tags:
                - br
                - us
                - ca
            config_files:
                placeholders: %paths.base%/features/placeholders.yml